<div id="<%= dom_id comment %>" class="comment">
  <p class="heading--xs bold">By <%=comment.user.username%></p>
  <p><%=comment.body%></p>
  <div class="comment__footer">
    <span class="gray-300">Send <%=time_ago_in_words(comment.created_at)%> ago</span>
    <%=button_to image_tag("icons/trash.svg"), comment, method: :delete, data: { turbo: "false" }%>
  </div>
</div>
